{% extends 'home.html' %}

<!-- <tr>
                            <td scope="row">
                                <form action="{% url 'newTodo' %}"></form>
                                    <div class="form-group">
                                        <label for="description"></label>
                                        <textarea class="form-control" id="taskText" name="taskText" rows="3"></textarea>
                                    </div>
                            <td scope="row">
                                <div class="form-group">
                                    <label for="title"></label>
                                    <input type="text" class="form-control" id="taskDate" name="taskDate">
                                </div>
                            <td scope="row">
                                <div class="form-group">
                                    <label for="priority"></label>
                                    <input type="number" class="form-control" id="taskDerc" name="taskDerc">
                                  </div>
                            <td>
                                <button type="submit" class="btn btn-primary" style="margin: 0 auto;display: block;">Add</button>
                                </form>
                            </td>
                        </tr> -->





{% block content %}
<body class="bg-light">
    <div class="container-fluid">
      <div class="card col-sm-12 col-md-8 offset-md-2 col-xl-6 offset-xl-3 mt-3">
        <div class="card-body">
          <h3 class="card-title text-center">Neues Todo erstellen</h3>
            <p class="card-text">
            <form action="{% url 'submit' %}" method="get">
              <label for="beschreibung">Beschreibung:</label>
              <textarea class="form-control mt-2" rows="3" placeholder="Beschreibe dein Todo... (maximal 160 Zeichen)"
                maxlength="160" required id="taskText" name="taskText" rows="3"></textarea>
              <label for="deadline" class="mt-3">Abgabedatum:</label><br>
              <input type="date" class="mt-2" required id="taskDate" name="taskDate"></input><br>
              <label for="progress" class="mt-3">Fortschritt:</label><br>
              <input type="number" min="0" max="100" placeholder="0-100" required id="taskDerc" name="taskDerc"><br>
              <a href="{% url 'home' %}" class="col-4 btn btn-danger mt-4">Abbrechen</a>
              <input type="submit" class="float-end col-4 btn btn-primary mt-4" value="Absenden">
            </form>
            </p>
        </div>
      </div>
    </div>
{% endblock %}